<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

  <localRepository>D:\\Maven\\remi-repository</localRepository>

  <pluginGroups>

  </pluginGroups>

  <profiles>
    <profile>
      <!-- 根据仓库id激活下面的配置 -->
      <id>remi-maven</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>remi-maven</id>
          <url>https://nexus.njydsz.com/repository/open-remi/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <servers>
    <server>
      <id>maven-public</id>
      <username>ydsz</username>
      <password>ydsz1020</password>
    </server>
    <server>
      <id>maven-releases</id>
      <username>ydsz</username>
      <password>ydsz1020</password>
    </server>
    <server>
      <id>maven-snapshots</id>
      <username>ydsz</username>
      <password>ydsz1020</password>
    </server>
    <server>
      <id>maven-central</id>
      <username>ydsz</username>
      <password>ydsz1020</password>
    </server>
  </servers>

  <mirrors>
	<!-- 瑞米软件公共仓库-->
    <mirror>
      <id>remi-maven</id>
      <mirrorOf>*</mirrorOf>
      <name>瑞米软件仓库</name>
      <url>https://nexus.njydsz.com/repository/open-remi/</url>
    </mirror>
  </mirrors>

</settings>

